{% extends "/base.jinja2" %}

{% block head %}
{% endblock %}

{% block body %}
<div>
	<input type="checkbox" id="auto-refresh" name="auto-refresh" class="switch" onclick="setautorefresh(this)"/>
	<label for="auto-refresh">auto-refresh</label>
</div>
    <div id="chart_div"></div>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["{{ package }}"]});
        google.setOnLoadCallback(drawChart);

        function setautorefresh(checkbox) {
           if (checkbox.checked) {
              intervalId = setInterval(drawChart, 10000)
           } else {
              clearInterval(intervalId); // cancal foo
           }
        }

        function drawChart() {

            var jsonData = $.ajax({
                url: "{{ ajax_source }}",
                dataType: "json",
                async: false
            }).responseJSON;

           var data = new google.visualization.arrayToDataTable(jsonData);
           chart = new google.visualization.{{ chart_type }}(document.getElementById('chart_div'));
           chart.draw(data, {{ options }});

        }
    </script>
{% endblock %}

{% block tail %}
{% endblock %}
