<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <!--

     DataStax Academy Sample Application

     Copyright 2013 DataStax

    -->

    <listener>
        <listener-class>retail.helpers.jinjahelper.SetupJinjaServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ProductQueryServlet</servlet-name>
        <servlet-class>retail.controller.ProductQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductQueryServlet</servlet-name>
        <url-pattern>/web/product_search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductSolrServlet</servlet-name>
        <servlet-class>retail.controller.ProductSolrServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductSolrServlet</servlet-name>
        <url-pattern>/web/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>retail.controller.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleQueryServlet</servlet-name>
        <servlet-class>retail.controller.SimpleQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleQueryServlet</servlet-name>
        <url-pattern>/api/simplequery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoogleChartServlet</servlet-name>
        <servlet-class>retail.controller.GoogleChartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GoogleChartServlet</servlet-name>
        <url-pattern>/gcharts/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TimeSliceQueryServlet</servlet-name>
        <servlet-class>retail.controller.TimeSliceQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TimeSliceQueryServlet</servlet-name>
        <url-pattern>/api/realtime/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>retail.controller.ProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/web/product</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>retail.controller.ReceiptServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/web/receipt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreditCardServlet</servlet-name>
        <servlet-class>retail.controller.CreditCardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreditCardServlet</servlet-name>
        <url-pattern>/web/credit_card</url-pattern>
    </servlet-mapping>

</web-app>
