{% extends "base.jinja2" %}

{% block head %}
{% endblock %}

{% block body %}
        List of example links to be used to showcase and ingest data on the frontend:
        <ul>
            <li>
                <a href="/web/product_search">Query for Products</a>
            </li>
            <li>
                <a href="/web/search">Solr Search for Products</a>
            </li>
            <li>
                <a href="/web/product">Lookup Product Detail</a>
            </li>
            <li>
                <a href="/web/receipt">Lookup Receipt Detail</a>
            </li>
            <li>
                <a href="/web/credit_card">Lookup Receipts By Credit Card</a>
            </li>
            </ul>
            <br>
  Some Analytics:
            <ul>
            <li>
                <a href="/gcharts/table/?url=/api/paging/retail/stores&result_size=100">
                    Google Charts: Stores Table
                </a>
            </li>
            <li>
                <a href="/gcharts/piechart/?url=/api/paging/retail/sales_by_state&result_size=100&gcharts_columns=state,receipts_total">
                    Google Charts: Pie of Sales By State
                </a>
            </li>
             <li>
                <a href="/gcharts/barchart/?url=/api/paging/retail/sales_by_date&result_size=100&gcharts_columns=sales_date,receipts_total&gcharts_datatable_order_by=sales_date">
                    Google Charts: Bar of Sales By Date
                </a>
            </li>
            <li>
                <a href="/gcharts/areachart/?url=/api/paging/retail/sales_by_date&result_size=100&gcharts_columns=sales_date,receipts_total&gcharts_datatable_order_by=sales_date">
                    Google Charts: Area of Sales By Date
                </a>
            </li>
        </ul>
        <br>
        Joaquin's Random Stuff
        <br>
        <ul>
        <li>
            <a href="/api">API: Test Page</a>
        </li>
        <li>
            <a href="/api/paging/system/compaction_history">API: system.compaction_history</a>
        </li>
        <li>
            <a href="/api/paging/system/schema_keyspaces">API: system.schema_keyspaces</a>
        </li>
        <li>
            <a href="/gcharts/table/?gcharts_columns=compacted_at,id,keyspace_name,columnfamily_name,rows_merged,bytes_in,bytes_out&result_size=100">
                Google Charts: Tabular Example
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/api/paging/retail/products?result_size=5&paging_keys=product_id&paging_values=B000ET7AZK">
                API: Sample Query with Custom Values
            </a>
        </li>
        <li>
            <a href="/gcharts/barchart/?url=/api/paging/retail/products&result_size=100&gcharts_columns=product_id,price&gcharts_datatable_order_by=price">
                Google Charts: Bar Chart Example
            </a>
        </li>
        <li>
            <a href="/gcharts/table/?url=/api/paging/retail/employees&result_size=100">
                Google Charts: Employees Table
            </a>
        </li>
        </ul>

{% endblock %}

{% block tail %}
{% endblock %}
