{% extends "base.jinja2" %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="chart_div"></div>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        chartOptions = {
{#              width: 800,#}
{#              height: 400,#}
{#              animation:{#}
{#                      duration: 500,#}
{#                      easing: 'linear'#}
{#                    }#}
        };

        function drawChart() {

            var jsonData = $.ajax({
                url: "{{ ajax_source }}",
                dataType: "json",
                async: false
            }).responseJSON;

           var data = new google.visualization.DataTable(jsonData);
           chart = new google.visualization.{{ chart_type }}(document.getElementById('chart_div'));
           chart.draw(data, chartOptions);

        }
        var intervalId = setInterval(drawChart, 10000)

    </script>
{% endblock %}

{% block tail %}
{% endblock %}
