{% extends "/base.jinja2" %}

{% block head %}
{% endblock %}

{% block body %}
    <div id="search_div">
    <form action="">
      Product_ID: <input type="text" name="product_id">
      <input type="submit" value="Search">
    </form>
</div>
<br>
    <div id="chart_div">
        <br>
        <table>
        <tr><td>Title:</td><td>{{ product.title }}</td></tr>
        <tr><td>URL:</td><td><a href="{{ product.url }}">{{ product.url }}</a></td></tr>
        <tr><td>Brand:</td><td><a href="/web/product_search?brand_id={{ product.supplier_id }}">{{ product.supplier_name }}</a></td></tr>
        <tr><td>Category:</td><td><a href="/web/product_search?category_name={{ product.category_name }}">{{ product.category_name }}</a></td></tr>
        <tr><td>Release Date:</td><td>{{ product.release_date }}</td></tr>
        <tr><td>Description:</td><td>{{ product.short_description }}</td></tr>
        <tr><td>Details:</td><td>{{ product.long_description }}</td></tr>
        </table>

        <table border="1" width="1000">
        <th>Feature</th>
        <th>Description</th>
        <br>
        <br>
        <b>Features:</b>
        {% if features %}
            {% for key in features.keySet() %}
                <tr>
                <td>{{ key }}</td>
                <td>{{ features[key] }}</td>
                </tr>
            {% endfor %}
         {% endif %}
        </table>
</div>
{% endblock %}

{% block tail %}
{% endblock %}
